<label for="userSearch">Search for GitHub user</label>
<input (keyup.enter)="searchForUsers()" [(ngModel)]="currentText" id="userSearch" type="text">
<button (click)="searchForUsers()">Search</button>
<p *ngIf="totalCount">Found {{totalCount}} results:</p>
<div *ngFor="let user of users">
  {{user}}
</div>
<div>
  <button (click)="getPreviousResults()" *ngIf="previousResults" type="button">Previous</button>
  <span *ngIf="totalCount">Page {{currentPage + 1}}</span>
  <button (click)="getNextResults()" *ngIf="nextResults" type="button">Next</button>
</div>
