<h1>GitHub User Search</h1>
<div class="form">
  <label for="userSearch">Enter a GitHub username:</label>
  <input (keyup.enter)="searchForUsers()" [(ngModel)]="inputText" id="userSearch" type="text">
  <button (click)="searchForUsers()">Search</button>
</div>
<p *ngIf="usersOnPage" class="total-count">Found {{totalCount}} {{totalCount === 1 ? 'result' : 'results'}}:</p>
<div class="user-results">
  <app-user *ngFor="let user of usersOnPage" [user]="user" class="user-result"></app-user>
</div>
<div class="pagination-controls">
  <button (click)="getPreviousResults()" *ngIf="hasPreviousPage" aria-label="Get previous page of results"
          id="previous" type="button">
    Previous
  </button>
  <span *ngIf="usersOnPage">Page {{currentPage}}</span>
  <button (click)="getNextResults()" *ngIf="hasNextPage" aria-label="Get next page of results" id="next"
          type="button">
    Next
  </button>
</div>
