h1 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.total-count {
  font-size: large;
  text-align: center;
}

.user-results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pagination-controls, .results-per-page {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  margin: 16px auto 0;
}

.credit {
  font-size: small;
  margin: 24px 0 0;
  text-align: center;
}
