<h1>GitHub User Search</h1>
<div class="form">
  <label for="userSearch">Search for a GitHub user:</label>
  <input (keyup.enter)="searchForUsers()" [(ngModel)]="inputText" id="userSearch" type="text">
  <button (click)="searchForUsers()">Search</button>
</div>
<p *ngIf="error">Oh no! There seems to be an error retrieving results. This may be caused by a rate limit on the GitHub
  API. Please come back soon and try again.</p>
<p *ngIf="usersOnPage" class="total-count">Found {{totalCount}} {{totalCount === 1 ? 'result' : 'results'}}:</p>
<div class="user-results">
  <app-user *ngFor="let user of usersOnPage" [user]="user" class="user-result"></app-user>
</div>
<div class="pagination-controls">
  <button (click)="getPreviousResults()" *ngIf="hasPreviousPage" aria-label="Get previous page of results"
          id="previous" type="button">
    Previous
  </button>
  <span *ngIf="usersOnPage">Page {{currentPage}}</span>
  <button (click)="getNextResults()" *ngIf="hasNextPage" aria-label="Get next page of results" id="next"
          type="button">
    Next
  </button>
</div>
<div class="results-per-page">
  <label for="resultsPerPageDropDown">Results per page: </label>
  <select id="resultsPerPageDropDown" (change)="resultsPerPageChange()" [(ngModel)]="resultsPerPage" class="form-select">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
  </select>
</div>
<div class="credit">Created by <a href="https://github.com/chrisstonedev">chrisstonedev</a>.</div>
