.container {
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: #0008 4px 4px 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

img {
  width: 75px;
  height: 75px;
}

h2 {
  font-weight: 600;
  margin: 0;
}

h3 {
  font-weight: 500;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.additional-details {
  margin: 4px 0 0;
}

p {
  margin: 0 16px 8px;
}

a {
  color: #060;
  font-weight: 700;

  &:hover {
    color: #0a0;
  }
}

@media (max-width: 600px) {
  .main-content {
    flex-direction: column;
  }
}
